*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-size: 1.5rem;
}
.container {
  width: 100%;
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
.item1 {
  background-image: url("./imges/Blue-Galaxy-Wallpapers-24+-images-WallpaperBoat\ \(1\).jpg");
  border-radius: 10px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
}
.item1__title1 {
  color: #fff;
}
.item1__title2 {
  color: #fff;
}
.item1-list {
  color: #fff;
}
.item1__item {
  color: #fff;
  font-size: 1.2rem;
}
.item2 {
  background-image: url("./imges/1613238683_1-p-fon-v-sinikh-tonakh-1.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item2__disc1 {
  font-size: 1.5rem;
  padding: 1rem;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: blue;
  color: #fff;
}
.item2__disc2 {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.item3 {
  background-image: url("./imges/thumb-1920-372318.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.item3__img {
  border-radius: 10px;
}
.item3__disc {
  padding-top: 2rem;
  font-size: 1.5rem;
}
.item4 {
  background-image: url("./imges/i.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item4-info {
  display: flex;
  align-items: center;
}
.item4-disc1 {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0px 20px 20px 0px;
  color: #000;
  margin-right: 1rem;
  background-color: gold;
}
.item4-disc2 {
  padding: 7px;
  border: 1px solid #333;

  background-color: blue;
  color: #fff;
}
.item4-disc3 {
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 20px 20px;
  background-color: red;
  color: #fff;
  margin-bottom: 2rem;
}
.item4-disc4 {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 3px 3px 20px 20px;
  color: #000;
  margin-right: 1rem;
  background-color: gold;
}
.item4-disc5 {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px 20px 20px 20px;
  color: #fff;
  margin-right: 1rem;
  background-color: green;
}
.item5 {
  background-image: url("./imges/i\ \(1\).webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item5-disc1 {
  color: #fff;
  background-color: blue;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0px 20px 20px 0px;
  margin-right: 1rem;
}
.item5-disc2 {
  color: #fff;
  background-color: blue;
  padding: 10px;
  border: 1px solid #333;
  margin-right: 1rem;
}
.item5-disc3 {
  color: #fff;
  background-color: blue;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 45%;
  text-align: center;
}
.item5-disc {
  color: #ffffff;
  background-color: blue;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 0px 20px 20px 0px;
  margin-right: 1rem;
}
.item5-info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.disc {
  margin-top: 1rem;
  width: 45%;
  color: #000;
  background-color: gold;
  padding: 10px;
  border: 1px solid #333;
  margin-right: 1rem;
  text-align: center;
}
.item6 {
  background-image: url("./imges/starry_sky_night_mountains_117812_5472x3648.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item6-title {
  margin-top: 2rem;
  color: blue;
}
.item6-disc {
  margin-top: 1rem;
  color: #fff;
}
.item7 {
  background-image: url("./imges/e7adb9c8410a85df2ffd5e658ff31d7d.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item7-item {
  color: bisque;
  margin-top: 1rem;
}
.item7-title {
  color: gold;
}
.item8 {
  background-image: url("./imges/AfCsFG-dmvBE7a.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.item8-title {
  text-align: center;
  color: #fff;
}
